html {
    padding: 50px;
    background: rgb(243, 243, 243);
    background: linear-gradient(120deg, rgba(114, 51, 98, 0.45) 0%, rgba(204, 28, 28, 0.45) 50%, rgba(174, 111, 23, 0.45) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

li {
    margin-top: 25px;
    margin-bottom: 5px;
}

@media (max-device-width: 600px) {
    body {
        padding: 15px;
        font-size: 3em;
    }
}

h3 {
    margin-top: 45px;
}